body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../img/fondoPokimon.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #f4f4f4;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000a9a;
    color: aliceblue;
    border: #f4f4f4;
}
